<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .logo {
            color: rgb(31, 184, 20);
        }
        .close-paragraph {
            margin: 4px 0px;
        }
        .close-paragraph--up {
            margin-top: 4px;
        }
    </style>
</head>
<body>
    
    <h1 class="logo" >Money Fy</h1>
    <h4>¡Se están procesando tus comisiones y no hemos podido identificar tu cuenta para el recibo!</h4>

    <p class="close-paragraph">Verifica tu cuenta bancaria predeterminada para el recibo de comisiones en la aplicación.</p>
    <p class="close-paragraph--up">Si tu cuenta no puede ser identificada, tus pagos de comisiones serán programadas para el próximo mes.</p>

    <em>Este es un mensaje automático, por favor no lo responda.</em>
</body>
</html>